<a href="https://colab.research.google.com/github/corinnakeum1/DS-4002/blob/main/HedonicPricingCorinnaKeum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("airbnb_hw.csv")

# Display the first few rows
df.head()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30478 entries, 0 to 30477
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Host Id                     30478 non-null  int64
 1   Host Since                  30475 non-null  object
 2   Name                        30478 non-null  object
 3   Neighbourhood               30478 non-null  object
 4   Property Type               30475 non-null  object
 5   Review Scores Rating (bin)  22155 non-null  float64
 6   Room Type                   30478 non-null  object
 7   Zipcode                     30344 non-null  float64
 8   Beds                        30393 non-null  float64
 9   Number of Records           30478 non-null  int64
 10  Number Of Reviews           30478 non-null  int64
 11  Price                       30478 non-null  object
 12  Review Scores Rating        22155 non-null  float64
dtypes: float64(4), int64(3), object(6)
memory usage: 3.0+ MB
None

In [5]:
# Convert 'Host Since' to datetime and drop rows with missing values
df['Host Since'] = pd.to_datetime(df['Host Since'], errors='coerce')
df.dropna(subset=['Host Since'], inplace=True)

# Fill missing 'Review Scores Rating' and 'Review Scores Rating (bin)' with median or placeholders
df['Review Scores Rating'].fillna(df['Review Scores Rating'].median(), inplace=True)
df['Review Scores Rating (bin)'].fillna('Unknown', inplace=True)

# Convert 'Zipcode' to string and fill missing values with a placeholder
df['Zipcode'] = df['Zipcode'].fillna("Unknown").astype(str)

# Convert 'Price' to numeric by removing any non-numeric characters, then cast to float
df['Price'] = df['Price'].replace('[\$,]', '', regex=True).astype(float)

# Fill missing 'Beds' with median value
df['Beds'].fillna(df['Beds'].median(), inplace=True)


# Verify data types and missing values
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 30475 entries, 3 to 30477
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Host Id                     30475 non-null  int64
 1   Host Since                  30475 non-null  datetime64[ns]
 2   Name                        30475 non-null  object
 3   Neighbourhood               30475 non-null  object
 4   Property Type               30472 non-null  object
 5   Review Scores Rating (bin)  30475 non-null  object
 6   Room Type                   30475 non-null  object
 7   Zipcode                     30475 non-null  object
 8   Beds                        30475 non-null  float64
 9   Number of Records           30475 non-null  int64
 10  Number Of Reviews           30475 non-null  int64
 11  Price                       30475 non-null  float64
 12  Review Scores Rating        30475 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 3.3+ MB
None
   Host Id Host Since                                 Name Neighbourhood   \
3      500 2008-06-26   Gorgeous 1 BR with Private Balcony      Manhattan
4      500 2008-06-26             Trendy Times Square Loft      Manhattan
5     1039 2008-07-25   Big Greenpoint 1BD w/ Skyline View       Brooklyn
6     1783 2008-08-12                         Amazing Also      Manhattan
7     2078 2008-08-15  Colorful, quiet, & near the subway!       Brooklyn

  Property Type Review Scores Rating (bin)        Room Type  Zipcode  Beds  \
3     Apartment                    Unknown  Entire home/apt  10024.0   3.0
4     Apartment                       95.0     Private room  10036.0   3.0
5     Apartment                      100.0  Entire home/apt  11222.0   1.0
6     Apartment                      100.0  Entire home/apt  10004.0   1.0
7     Apartment                       90.0     Private room  11201.0   1.0

   Number of Records  Number Of Reviews  Price  Review Scores Rating
3                  1                  0  199.0                  94.0
4                  1                 39  549.0                  96.0
5                  1                  4  149.0                 100.0
6                  1                  9  250.0                 100.0
7                  1                 80   90.0                  94.0

<ipython-input-5-ad15c91dc90e>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Review Scores Rating'].fillna(df['Review Scores Rating'].median(), inplace=True)
<ipython-input-5-ad15c91dc90e>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Review Scores Rating (bin)'].fillna('Unknown', inplace=True)
<ipython-input-5-ad15c91dc90e>:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Review Scores Rating (bin)'].fillna('Unknown', inplace=True)
<ipython-input-5-ad15c91dc90e>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Beds'].fillna(df['Beds'].median(), inplace=True)